body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgb(8, 8, 16);
  color: white;
}

img {
  max-width: 200px;
  border-radius: 50%;
  animation-name: zoom;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

a:hover {
  text-decoration: underline white;
}

p {
  font-size: 1.6rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@keyframes zoom {
  0% {
    scale: 0.8;
  }
  40% {
    scale: 1;
  }
  70% {
    scale: 1.1;
  }
  80% {
    scale: 1;
  }
  100% {
    scale: 0.8;
  }
}
